[class*="col-"] {
    /* regole debug */
    background-color: aqua;
    border: solid 2px white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colore-scritta{
    color: white;
}

#riga-spaziatrice{
    margin: 25px 0;
    background-color: white;
}